body {
    background-color: #e1ad01;
    font-family: Rubik, Arial, sans-serif;
}

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
}

form hr {
    width: 15%;
}

h1 {
    text-align: center;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #efe9cf, #daa520);
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 0%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    alignment: center;
}

#overlay {
    width: 80%;
    margin: 3% auto;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
}

#logo {
    height: 100px;
    display: block;
    margin: auto;
}


.toppings label, .cheesy label {
    margin-right: 25px;
}
#ft{
    display: none;
}
#nft{
    display: none;
}

#line{
    display: none;
}#line3{
     display: none;
 }#line4{
      display: none;
  }#line5{
       display: none;
   }

#line2{
    display: none;
}

#lettuce{
    display: none;
}

#lettuce2{
    display: none;
}